/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.m2a-message .form { margin-left: 25px; text-align: center;}
.m2a-message .m2a-title { background: #145374; height: 135px; display: flex; align-items: center}
.m2a-message .m2a-title h2 {color: #fff; text-align: center; font-weight: bold; letter-spacing: 3px; font-size: 45px; margin: auto}
.m2a-message .m2a-title h2::before{display: none;}
.m2a-message.m2a-message-box .form { margin-left: 0;}
.m2a-message.m2a-message-box .form:after { top: 40px;}
.m2a-message.form { white-space: nowrap;}
.m2a-message .form input { margin-top: 15px; margin-bottom: 15px; float: left; width: calc(50% - 7px);}
.m2a-message .form .m2a-subject {margin-right: 7px;}
.m2a-message .form .m2a-email {margin-left: 7px;}
.m2a-message .form .m2a-submit {float: none; margin: auto; vertical-align: top; margin-top: 15px; background-color: #145374;}
.m2a-message .form .m2a-subject.full{width: 100%;}

/*border-radius*/
.m2a-message .m2a-title, .m2a-message .form input,  .m2a-message .form .m2a-text{border-radius:7px; }

/*Popup*/
.m2a-message.m2a-popup .m2a-title{margin-left: 25px;}
.m2a-message.m2a-popup{padding-top: 50px;}
.m2a-message.m2a-popup.login{padding-top: 55px;}

@media (max-width: 991px) {
    .m2a-message.m2a-popup{padding-top: 20px;}
    .m2a-message .form input {width: 100%;}
    .m2a-message .form .m2a-subject {margin-right: 0; margin-bottom: 0}
    .m2a-message .form .m2a-email{margin-left: 0;}
    .m2a-message .form .m2a-subject.full{margin-bottom: 15px;}
    .m2a-message.m2a-popup.login { padding-top: 50px; }
}
@media(max-width: 776px){
    .m2a-message .m2a-title h2{font-size: 30px}
}
@media(max-width: 543px){
    .m2a-message .m2a-title h2{font-size: 28px}
}
